network:
  version: 2
  ethernets:
    enp0s3:
      dhcp4: no
      addresses: [{{ ansible_host }}/24]
      gateway4: 10.100.1.1
      nameservers:
        addresses:
          - 8.8.8.8
          - 1.1.1.1
