#!/usr/bin/env bash
# Loopback
iptables -A INPUT -i lo -j ACCEPT

# Established connections
iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# Allow ALL traffic inside cluster subnet (VERY IMPORTANT)
iptables -A INPUT -i ens3 -s 10.100.1.0/24 -j ACCEPT
iptables -A FORWARD -i ens3 -s 10.100.1.0/24 -j ACCEPT
iptables -A FORWARD -o ens3 -d 10.100.1.0/24 -j ACCEPT
